/Cleaning_vars.xml
/Convert_vars.xml
/Copyfiles_vars.xml
/Copytemplates_vars.xml
/Dblatex_vars.xml
/Docbook_vars.xml
/Dvips_vars.xml
/Exam_vars.xml
/ExerciseSubmit_vars.xml
/ExportControl_vars.xml
/Export_vars.xml
/ExtraAnt_vars.xml
/Gimp_vars.xml
/InitialCheck_vars.xml
/Inkscape_vars.xml
/Latex_vars.xml
/Msf2PDF_vars.xml
/PDFnup_vars.xml
/Pdflatex_vars.xml
/Ps2pdf_vars.xml
/Rss_vars.xml
/SubRecursive_vars.xml
/TestExam_vars.xml
/Xfig_vars.xml
/Xsltproc_vars.xml
