/* 
 * Generic style file for Course Web Pages 
 * 
 * Author: Abelardo Pardo (abelardo.pardo@uc3m.es)
 *
 */
body 
{ 
  background-color: #FFFFFF; 
  margin-left: auto;
  margin-right: auto;
  /* font-family: 'Arial', 'sans-serif'; */
  font-family: 'Verdana';
  width: 910px;
}

table 
{ 
  page-break-inside: avoid; 
  border-collapse: collapse; 
  margin-right: auto; 
  margin-left: auto;
  }

div.informaltable table thead tr th,
div.informaltable table tbody tr td 
{
  padding: 5px;
  border: 1px solid black;
  }

div#titlebox, div#tailbox, div.narrowcontent 
{ 
  margin-right: auto; 
  margin-left: auto;
  }

th 
{ 
  border-collapse: collapse; 
  }

td 
{ 
  border-collapse: collapse; 
  }

tr.theorylecture,td.theorylecture,td.exam
{ 
  background-color: rgb(255,255,255); 
  border: 1px solid black;
}

tr.lablecture,td.lablecture 
{ 
  background-color: rgb(224,224,224); 
  border: 1px solid black;
}

tr.submissionresult { 
    background-color: rgb(240,240,240); 
}

tr.noclass  
{ 
  background-color: rgb(255,136,136); 
  color: black; 
  }

td.noclass 
{ 
  background-color: rgb(255,136,136); 
  color: black; 
  border: 1px solid black;
  }

.grey1head 
{ 
  background-color: #EEEEEE;
  }

.blue1head 
{ 
  background-color: #BBC7FB;
  border: 1px solid black;
}

hr 
{ 
  height: 1px; 
  background: black; 
}

/* Center text derived from title element */
h1.title,
.head-center 
{ 
  text-align: center; 
  }

/* Remove border in images that are part of an ancho */
a span.inlinemediaobject img { border: 0; }

#subscribe li#subscribe-itunes a 
{
  background: #fff url('http://webbalert.com/images/subscribe-itunes-icon.gif') 10px 2px no-repeat;
  }

#subscribe li#subscribe-news a 
{
  background: #fff url('http://webbalert.com/images/subscribe-feed-icon.gif') 10px 2px no-repeat;
  }

/* Hide elements of class noprint when printing */
@media print {
    body { background:white; color:black; margin:0 }
    .noprint { display: none; }
}
