/Test1_1.html
/Test1_1.xml
/Test1_1_solution.html
/Test1_1_stats.html
/Test1_2.html
/Test1_2.xml
/Test1_2_solution.html
/Test1_2_stats.html
/Test1_raw.xml
/missfont.log
/tex-math-equations.aux
/tex-math-equations.dvi
/tex-math-equations.log
/tex-math-equations.tex
